<div class="cards">
    <mat-card>
        <app-card bg="orange" icon="person" description="students" count="2000"></app-card>
    </mat-card>
    <mat-card>
        <app-card bg="red" icon="home" description="Home" count="500"></app-card>
    </mat-card>
    <mat-card>
        <app-card bg="blue" icon="groups" description="Group" count="2000"></app-card>
    </mat-card>
    <mat-card>
        <app-card bg="yellow" icon="dashboard" description="Dashboard" count="2000"></app-card>
    </mat-card>
      
    
</div>

<div class="area">
    <app-area-chart></app-area-chart>
</div>

<div class="tablepie">
    <div>
        <app-table></app-table>
    </div>
    <div>
        <app-pie-chart></app-pie-chart>
    </div>
</div>