.cards{
    display: flex;
    justify-content: space-between;
}

.area{
    margin-top: 20px ;
}

.tablepie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}